@page "/about"
@inject ISnackbar Snackbar

<PageTitle>TransferMe - About</PageTitle>

<MudLayout>
    <MudMainContent>
        <h1 style="color: #5c34e8">About Transfer.Me</h1>
        <p>Transfer.Me is a project done by 3 seniors at Oregon State University with a goal to implement end-to-end encryption for securely sending files to others.
            This project uses Blazor Web Assembly and the .NET Framework (.Net6). It also uses the BouncyCastle Cryptography Library for encryption,
            The project will have its first beta release on March 7th, 2022.
        </p>
        <h2 style="color: #5c34e8; padding-top:1%">Requirements Satisfied by March 7th</h2>
        <li>Upload an Encrypted File</li>
        <li>User gets provided a URL and Decryption Key</li>
        <li>Provie the URL and Encryption key to intended Recipient</li>
        <li>Recipient can unlock and download the file. Knowing end-to-end encryption was implemented.</li>
        <h2 style="color: #5c34e8; padding-top:1%">Additional Requirements Satisfied by June, 2022</h2>
        <li>Account Creation</li>
        <li>Send Files to Other Accounts</li>
        <li>Ability to manage account and view profile details</li>

        <h4 style="padding-top:2%">Visit the Github Repository to see the source code -- <a href="https://github.com/AlexGrasley/transfer.me">TransferMe Source Code</a></h4>
    </MudMainContent>
</MudLayout>

