@page "/about"
@inject ISnackbar Snackbar

<PageTitle>TransferMe - About</PageTitle>
<MudLayout>
    <MudMainContent Style="padding-top: 15%">
        <MudText Typo="Typo.h3" Color="Color.Primary">About Transfer.Me</MudText>
        <p>Transfer.Me is a project done by 3 seniors at Oregon State University with a goal to implement end-to-end encryption for securely sending files to others.
            This project uses Blazor Web Assembly and the .NET 6. Transfer.Me also uses the BouncyCastle Cryptography Library for encryption.
            The project will have its final release in June, 2022.
        </p>
        <MudText Typo="Typo.h6" Color="Color.Primary">Requirements Satisfied by June, 2022</MudText>
        <li>Upload an encrypted file</li>
        <li>User gets provided URL and decryption key</li>
        <li>Provide the URL and decryption key to intended recipient</li>
        <li>Recipient can access URL and use key to unlock. Knowing end-to-end encryption was implemented.</li>

        <h4 style="padding-top:2%">Visit the Github Repository to see the source code -- <a href="https://github.com/AlexGrasley/transfer.me">TransferMe Source Code</a></h4>
    </MudMainContent>
    
</MudLayout>

