@page "/download"
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject IJSRuntime JS

<PageTitle>TransferMe - Download File</PageTitle>
@if(isLoading)
{
    <Client.Components.LoadingScreen customWidth="67"/>
}
else
{
    <div style="padding-left:32%; padding-top: 10%">
        <EditForm Model="@FileObj" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
                <MudItem xs="12" sm="7">
                    <MudCard Style="background-color:#FAF9F6">
                        <MudCardContent>
                            <MudTextField Label="File ID" HelperText="Enter the File ID to download"
                                            @bind-Value="FileObj.FileGUID" For="@(() => FileObj.FileGUID)"/>
                            <MudTextField Label="Decryption Key" HelperText="Enter the key needed to decrypt the file"
                                            @bind-Value="FileObj.Key" For="@(() => FileObj.Key)"/>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" Class="mx-2" Link="/">Back</MudButton>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Download</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
        </EditForm>
    </div>
}
