@page "/downloader"
@using System.IO
@inject ISnackbar Snackbar
@inject IJSRuntime JS
<PageTitle>TransferMe - Downloader</PageTitle>

<button @onclick="DownloadFile">
    Download File From Stream
</button>

@code{
    private async Task DownloadFile()
    {
        // Retrieve a file
        EncFile file = await HttpService.GetFileAsync("FileUpload");
        byte[] data = file.RawBytes;
        string filename = file.Description;
        // Send the data to JS to actually download the file
        await JS.InvokeVoidAsync("SaveFile", filename, data);
    }
}

