@page "/download"
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar

<PageTitle>TransferMe - Download File</PageTitle>
<div style="padding-left:32%; padding-top: 10%">
    <EditForm Model="@FileObj" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
            <MudItem xs="12" sm="7">
                <MudCard Style="background-color:#FAF9F6">
                    <MudCardContent>
                        <MudTextField Label="FileID" HelperText="Enter the File ID to query"
                                        @bind-Value="FileObj.FileGUID" For="@(() => FileObj.FileGUID)"/>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" Class="mx-2" Link="/">Back</MudButton>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Issue Query</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
    </EditForm>
</div>


@code {
}