@page "/"

<h1>Hello, world!</h1>
<BlazorInputFile.InputFile OnChange="HandleFileSelected" multiple class="drag-drop-input" />

@code {
    void HandleFileSelected(BlazorInputFile.IFileListEntry[] files)
    {
        
    }
}