@page "/profile"
@inject ISnackbar Snackbar

<PageTitle>TransferMe - Profile</PageTitle>

<MudLayout>
    <MudMainContent>
        @if(SignedIn)
        {
            //display profile data
        }
        else
        {
            <h2>You must be signed in to see profile data.</h2>
            <p>Sign in will be implemented by June 2022</p>
            <div style="padding-top: 20%; padding-left: 10%"></div>
            <center><MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Link="/signin">Sign In</MudButton></center>
        }
    </MudMainContent>
</MudLayout>

@code {
    bool SignedIn = false; //this will be replaced with the actual logic at some point.
}

