<footer>
    <center>
        <div class="footerContent">
            <div class="row">
                <div class="column left">
                    <MudText Color="Color.Primary" Style="font-size: 1.0rem">License</MudText>
                    <MudIconButton Icon="@Icons.Filled.Newspaper" Color="Color.Primary" aria-label="github" Link="https://github.com/AlexGrasley/Transfer.me/blob/main/LICENSE.md"></MudIconButton>
                </div>
                <div class="column middle">
                    <MudText Color="Color.Primary" Style="font-size: 1.0rem">Source Code</MudText>
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" Link="https://github.com/AlexGrasley/Transfer.me"></MudIconButton>
                </div>
                <div class="column right">
                    <MudText Color="Color.Primary" Style="font-size: 1.0rem">About</MudText>
                    <MudIconButton Link="/about" Icon="@Icons.Filled.QuestionMark" Color="Color.Primary" aria-label="github"></MudIconButton>
                </div>
            </div>
        </div>
    </center>
</footer>

@code {

}
