@using MudBlazor.Components

@if (IsLoaded)
{
    @ChildContent
}
else
{
    <center>
        <div style="position:absolute; top:30vh; width:@customWidth%; text-align:center">
            <MudText Color="Color.Primary" Style="font-size:25px; padding-bottom:2%">Please Wait...</MudText>
            <div style="display:flex; gap:10px; justify-content:center; align-items:center">
                <MudProgressCircular Style="height:70px;width:70px;" Color="Color.Primary" Indeterminate="true"/>
            </div>
        </div>
    </center>
}

@code {
    bool IsLoaded;

    [Parameter]
    public RenderFragment? ChildContent { get; set; } //only display childcontent when web page is actually created.

    [Parameter]
    public int customWidth { get; set; } = 100;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(6000); // TODO actual initialization job
        IsLoaded = true;
    }
}
